<app-admindashboard></app-admindashboard>
<div class="" id="allusers">
    <div id="users" >
        <div class="rounded-[8px]">
            <p>Jane Doe</p>
            <p>Janedoe@gmail.com</p>
            <p>0700 000 000</p>
            <button><a>Delete</a></button>
        </div>
        <div class="rounded-[8px]">
            <p>Jane Doe</p>
            <p>Janedoe@gmail.com</p>
            <p>0700 000 000</p>
            <button><a>Delete</a></button>
        </div>
        <div class="rounded-[8px]">
            <p>Jane Doe</p>
            <p>Janedoe@gmail.com</p>
            <p>0700 000 000</p>
            <button><a>Delete</a></button>
        </div>
        <div class="rounded-[8px]">
            <p>Jane Doe</p>
            <p>Janedoe@gmail.com</p>
            <p>0700 000 000</p>
            <button><a>Delete</a></button>
        </div>
         <div class="rounded-[8px]">
            <p>Jane Doe</p>
            <p>Janedoe@gmail.com</p>
            <p>0700 000 000</p>
            <button><a>Delete</a></button>
        </div>
         <div class="rounded-[8px]">
            <p>Jane Doe</p>
            <p>Janedoe@gmail.com</p>
            <p>0700 000 000</p>
            <button><a>Delete</a></button>
        </div>
    </div>
</div>
