<app-admindashboard></app-admindashboard>
<div class="" id="allusers">
  <div id="users">
    <div class="rounded-[8px]">
      <img
        src="https://images.pexels.com/photos/37544/gobi-desert-hot-sand-dune-37544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
      <p>Nairobi National Park</p>
      <p>Ksh 2000</p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, hic!
        Quasi modi et ad quidem autem minus sapiente illum fugiat ipsa,
        doloremque unde error blanditiis sed consectetur, magni eius amet?
      </p>
      <div class="mybuttons">
        <button><a>Delete</a></button>
        <button><a>Update</a></button>
      </div>
    </div>
  </div>
</div>
